
<form [formGroup]="form" (ngSubmit)="guardarUsuario()" >
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="this.form.get('usuario')"
                    ></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="usuario" placeholder="Usuario">
        </div>
    </div>
<hr>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-key" ></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="pass" placeholder="Password">
        </div>
    </div>
<hr>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" ></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="rol" placeholder="Roles">
        </div>
    </div>
<hr>
    <div class="form-group ">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="permiso" placeholder="Permisos">
        </div>
    </div>
<hr>
    <div class="form-grup">
        <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="form.invalid"><i class="fas fa-database"></i>Aceptar</button>
    </div>

</form>