<div class="jumbtron">
<h1 class="display-4 text-center">Usuarios</h1>
<hr>
 <div class="row">
    <div class="col-md-5">
        <h6 class="text-center">
            Agregar Usuario
        </h6>
        <app-registro></app-registro>
    </div>
    <div class="col-md-7">
        <h6 class="text-center">
            Lista de Usuario
        </h6>
        <app-lista></app-lista>
    </div>  
 </div>
</div>