<div class="jumbtron">
    <h1 class="display-4 text-center">Login</h1>
</div>


<form  >
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" 
                    ></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="usuario" placeholder="Usuario">
        </div>
    </div>
<hr>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-key" ></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="pass" placeholder="Password">
        </div>
    </div>


<hr>
    <div class="form-grup">
        <button type="submit" class="btn btn-success btn-lg btn-block" ><i class="fas fa-database"></i>Aceptar</button>
    </div>

</form>


